body {
    background: lavender;
    font-family: monospace;
}

#launchChart {
    background: white;
    border: solid 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80rem;
    height: 40rem;
}

#message {
    margin-top: 1rem;
}